cv-footer kbd {
  background: #eee;
  border-radius: 4px;
  padding: 2px 4px;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
