cv-footer kbd {
  background: #eee;
  border-radius: 4px;
  padding: 2px 4px;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
}

#project {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 1rem;
  margin-inline: -16px;
}

.hidden{
  display: none;
}

ninja-keys::part(ninja-action){
  gap: 5px;
}

