
@if(data){
  <article>
    <header>
      <h3>
        @if(data.url){
          <a [href]="data.url">{{data.name}}</a>
        } @else {
          <span>{{data.name}}</span>
        }

        @if (data.isActive) {
          <span id="point">•</span>
        }

        @if (data.github) {
          <a [href]="data.github"><icon-github/></a>
        }
      </h3>
      <p>
        {{data.description}}
      </p>
    </header>

    <footer>
      @for (item of data.highlights; track $index) {
        <shared-chip class="fontSize_6" [title]="item" />
      }
    </footer>
  </article>
}
