@if(personalInfoGroup){
  <fieldset [formGroup]="personalInfoGroup!" class="main">
    @if (!personalInfoGroup.controls[getControlName('Image')].value) {
      <shared-input-file [title]="'Foto Personal'" (fileChange)="changeImg($event)" [ngClass]="{'borderRed': isInvalidImg}"/>
    } @else {
      <figure>
        <button (click)="clearImg()">x</button>
        <img [src]="personalInfoGroup.controls[getControlName('Image')].value" alt="Foto Personal">
      </figure>
    }

    <shared-input label="Nombre" [errorsControl]="controlsErrors.name" [formControName]="this.getControlName('Name')" [formGroup]="personalInfoGroup" />
    <shared-input label="Titular" [errorsControl]="controlsErrors.label" [formControName]="this.getControlName('Label')" [formGroup]="personalInfoGroup" />

    <section class="location">
      <shared-input label="Ciudad" [errorsControl]="controlsErrors.city" [formControName]="this.getControlName('City')" [formGroup]="personalInfoGroup" />
      <shared-input label="Código Postal" [errorsControl]="controlsErrors.postalCode" [formControName]="this.getControlName('PostalCode')" [formGroup]="personalInfoGroup" />
      <shared-input label="Región" [errorsControl]="controlsErrors.region" [formControName]="this.getControlName('Region')" [formGroup]="personalInfoGroup" />
    </section>

    <shared-input label="Sitio Web" [errorsControl]="controlsErrors.url" [formControName]="this.getControlName('Url')" [formGroup]="personalInfoGroup" />

    <section class="network">
      <article class="profileSelect">
        <shared-select [dataSelect]="selectNetworkArray | arrayFilter:getArrayNetworksSelected():'network'" [label]="'label'" [optionKey]="'network'" [labelSelect]="'Network'"  (selectChange)="changeSelectNetwork($event)" [value]="selectedNetwork() ? selectedNetwork()!.network : ''"></shared-select>
        <shared-button [disabled]="!selectedNetwork()" (onClick)="addNetwork()" label="Añadir"/>
      </article>
      <article class="profiles" [formArrayName]="getControlName('Profiles')">
        @if(arrayNetworks.controls.length > 0){
          <fieldset>
            @for(control of arrayNetworks.controls; track $index){
              <div>
                <shared-input label="Network" [disabled]="true" [errorsControl]="controlsErrors.profiles" [formControName]="this.getControlNameProfiles('Name')" [formGroup]="getGroupNetwork($index)" />
                <shared-input label="Url" [errorsControl]="controlsErrors.profiles" [formControName]="this.getControlNameProfiles('Url')" [formGroup]="getGroupNetwork($index)" />
                <shared-button (onClick)="removeSelectedNetwork($index)" label="x"/>
              </div>
            }
          </fieldset>
        }
      </article>
    </section>

    <shared-input label="Teléfono" [errorsControl]="controlsErrors.phone" [formControName]="this.getControlName('Phone')" [formGroup]="personalInfoGroup" />
    <shared-input label="Correo" [errorsControl]="controlsErrors.email" [formControName]="this.getControlName('Email')" [formGroup]="personalInfoGroup" />
    <shared-textarea label="Sobre mí" [errorsControl]="controlsErrors.sumary" [formControName]="this.getControlName('Sumary')" [formGroup]="personalInfoGroup" />
    <div class="btnContainer">
      <shared-button (onClick)="goNext()" label="Siguiente"/>
    </div>



  </fieldset>
}
