<!-- <shared-input-file (fileChange)="onChangeFile($event)"/>
<shared-input [formControName]="this.getControlName('Name')" [formGroup]="getFormGroup('PersonalInfo')" [label]="'Nombre'" [errorsControl]="controlsErrors.name"/> -->
<main>
  <form [formGroup]="myForm">
    <swiper-container>
      <swiper-slide>
        <cv-personal-form [personalInfoGroup]="this.getFormGroup('PersonalInfo')"/>
        <shared-select [dataSelect]="selectNetworkArray" [label]="'label'" [optionKey]="'network'" [labelSelect]="'Network'" ></shared-select>
      </swiper-slide>
      <swiper-slide>
        <!-- <shared-select []></shared-select> -->
      </swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
    </swiper-container>

  </form>
</main>
