<main>
  <form [formGroup]="myForm">
    <swiper-container #carrusel init="false">
      <swiper-slide>
        <cv-personal-form [personalInfoGroup]="this.getFormGroup('PersonalInfo')" (newArrayGroup)="addNetworkGroup([$event])" (goNextStep)="nextSlider($event)"/>
      </swiper-slide>
      <swiper-slide #educationSlider >
        <cv-education-form [educationInfoGroup]="this.getFormGroup('Education')" (newArrayEducation)="addEducationGroup([$event])" [siwperSlide]="educationSlider" (goNextStep)="nextSlider($event)" />
      </swiper-slide>
      <swiper-slide #certificatesSlider>
        <cv-certificates-form  [certificatesInfoGroup]="this.getFormGroup('Certificates')" (newArrayCertificates)="addCertificateGroup([$event])" [siwperSlide]="certificatesSlider" (goNextStep)="nextSlider($event)" />
      </swiper-slide>
      <swiper-slide #worksSlider>
        <cv-profesion-form [profesionGroup]="this.getFormGroup('Work')" (newArrayProfesion)="addWorkGroup([$event])" [siwperSlide]="worksSlider" (goNextStep)="nextSlider($event)" />
      </swiper-slide >
     <swiper-slide #projectSlider>
      <cv-project-form [projectGroup]="this.getFormGroup('Projects')" (newArrayProject)="addProjectGroup([$event])" [siwperSlide]="projectSlider" (goNextStep)="nextSlider($event)"/>
     </swiper-slide>
    </swiper-container>

  </form>

  <div class="ballsContainer">
    @for (item of balls; track $index) {
      <div class="ball" (click)="nextSlider($index, true)" [ngClass]="{'activeIndex': $index === indexActive, 'validForm': validFornGroup(item) && $index !== indexActive, 'invalidForm': invalidFornGroup(item) && $index !== indexActive}"><span>{{$index + 1}}</span></div>
    }
  </div>
</main>
