@if ( personalInfoData ) {
  <section>

    <article class="information">

      <h1>{{ personalInfoData.name }}</h1>
      <h2>{{ personalInfoData.label }}</h2>
      <span>
        <icon-worldmap color="#777" />
        {{ personalInfoData.location.city | titlecase  }}
        ({{personalInfoData.location.postalCode}}),
        {{ personalInfoData.location.region | titlecase }}
      </span>

      @if(!printService.isPrint()){
        <footer>
          <shared-icon-link iconColor="#777" [link]="'tel:' + personalInfoData.phone" icon="phone"/>
          <shared-icon-link iconColor="#777" [link]="'mailto:' + personalInfoData.email" icon="mail"/>
          @for(profile of personalInfoData.profiles; track profile.network){
            <shared-icon-link iconColor="#777" [link]="profile.url" [icon]="profile.network"/>
          }
        </footer>
      } @else {
        <footer>
          {{getAllLinks()}}
        </footer>
      }

    </article>

    <article>
      <figure>
        <img [src]="personalInfoData.image" alt="Img User">
      </figure>
    </article>

  </section>
}

