:host{
  width: 100%;
  height: 100%;

  fieldset{
    height: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  section{
   text-align: center;
    width: 100%;
  }

  article{
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .btnContainer{
    padding-bottom: 15px;
    position: sticky;
    bottom: 0;
  }

  shared-input{
    text-align: start;
  }

  .sectionHighlights{

    display: flex;
    flex-direction: column;
    gap: 20px;

    .highlightsContainer{
      position: relative;
      display: inline-block;

      button{
        position: absolute;
        top: -15px;
        right: -15px;
      }
    }

    & :nth-child(2){
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

  }

  .split{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }

  .split2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: center;
    shared-input{
      grid-column: span 3;
    }
  }

}
